body {
  box-sizing: border-box;
  background-color: rgb(57, 62, 66);
  font-family: Tahoma, Verdana, Geneva, sans-serif;
}

/* Main Page */

.mainTitle,
.recipe-title {
  color: whitesmoke;
  text-align: center;
}

.mainTitle {
  margin-top: 50px;
}

.recipes {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.card-wrapper {
  width: 250px;
  text-align: center;
}

.card {
  width: 250px;
  height: 250px;
  margin: 10px;
  padding: 10px;
}

.card img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.7s ease;
}

.card img:hover {
  transform: scale(0.95);
}

/* @Media Main*/

@media screen and (max-width: 1268px) {
  .recipes {
    width: 70%;
    flex-direction: column;
  }

  .card-wrapper {
    width: 100%;
    margin-bottom: 50px;
  }

  .card {
    height: 250px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .recipes {
    width: 100%;
    flex-direction: column;
  }
}
